azure-ai-projects
python-dotenv
azure-identity
azure-ai-agents
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-openai-v2
azure-ai-evaluation
opentelemetry-sdk
openai
pandas
fastapi
uvicorn
pydantic
python-multipart
aiofiles
httpx